@model IEnumerable<Test_Crud_Operation.Models.Department>
@{
    ViewData["Title"] = "Index";
}

<div class="row m-2 p-2">
    <div class="col-9">
        <div class="text-primary">Department List</div>
    </div>
    <div class="col-3">
        <a asp-action="Create" class="btn btn-primary">Add Department</a>
    </div>
</div>

<table class="table table-bordered table-active">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dept in Model)
        {
            <tr>
                <td>@dept.Name</td>
            </tr>
        }
    </tbody>
</table>

